<div class="inner-page">
	<div class="container">
		<div class="page-mainbar login">
			<!-- Login/Register Content -->
			<div class="login-content">
				<div class="tab-content">
					<div class="tab-pane fade in active br-red login-box" id="login">
						<!-- Heading -->
						<h2>Update your password</h2>
						<!-- Sign in Form Start -->
						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
							<%= f.hidden_field :reset_password_token %>
							<div class="form-group">
									<%= f.password_field :password, name: "user[password]_confirmation", class: "form-control", placeholder: "New Password", autocomplete: "off", :"data-validation" => "length", :"data-validation-length" => "min8", :"data-validation-error-msg" => "Please enter minimum 8 characters as your password" %>
							</div>
							<div class="form-group">
									<%= f.password_field :password_confirmation, name: "user[password]", class: "form-control", placeholder: "Confirm Password", autocomplete: "off", :"data-validation" => "confirmation", :"data-validation-error-msg" => "Password confirmation does not match password" %>
							</div>
							<div class="form-group text-center">
									<button type="submit" class="btn btn-black">Update Password</button>&nbsp;
									<button type="reset" class="btn btn-default">Reset</button>
							</div>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

