<div class="inner-page">
				<div class="container">
					<div class="row">
						<!-- Main-bar Column -->
						<div class="col-md-12">
							<div class="page-mainbar contactus">
								<!-- Heading -->
								<h3>Head Office</h3>
								<!-- Contact Us Content -->
								<div class="contactus-content">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<!-- Contact Us Content Item -->
											<div class="content-item">
												<!-- Icon -->
												<i class="fa fa-map-marker lblue"></i>
												<!-- Heading -->
												<h4>Address</h4>
												<!-- Paragraph -->
												<p class="grey">#9, Street 1, Ramlal Nagar, Malwal Road, Ferozepur City   152002</p>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<!-- Contact Us Content Item -->
											<div class="content-item">
												<!-- Icon -->
												<i class="fa fa-envelope red"></i>
												<!-- Heading -->
												<h4>Email</h4>
												<!-- Paragraph -->
												<p><a href="#">abc@example.com</a></p>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<!-- Contact Us Content Item -->
											<div class="content-item">
												<!-- Icon -->
												<i class="fa fa-phone-square green"></i>
												<!-- Heading -->
												<h4>Voice Call</h4>
												<!-- Paragraph -->
												<p><a href="#">+91 94630-83099</a></p>
											</div>
										</div>
									</div>
								</div>
								<h3>Contact Us Form</h3>
								<!-- Contact Us Form -->
								<div class="contact-form">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<form role="form">
												<div class="form-group">
													<!-- form input -->
													<input type="text" class="form-control" id="name" placeholder="Name">
												</div>
												<div class="form-group">
													<!-- form input -->
													<input type="email" class="form-control" id="email" placeholder="Email">
												</div>
												<div class="form-group">
													<!-- form textarea -->
													<textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
												</div>
												<div class="form-group">
													<!-- form Submit and reset button -->
													<button type="submit" class="btn btn-info">Submit</button>&nbsp;
													<button type="reset" class="btn btn-default">Reset</button>
												</div>
											</form>
										</div>
										<div class="col-md-6 col-sm-6">
											<!-- Google Map -->
											<iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Ferozepur&amp;aq=0&amp;oq=feroze&amp;sll=30.9443312,74.6224754&amp;sspn=0.782923,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Ferozepur&amp;ll=30.9443312,74.6224754&amp;spn=0.782868,1.352692&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>