<div class="inner-page">
				<div class="container">
					<div class="row">
						<!-- Main-bar Column -->
						<div class="col-md-12">
							<div class="page-mainbar contactus">
								<!-- Heading -->
								<h3>Head Office</h3>
								<!-- Contact Us Content -->
								<div class="contactus-content">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<!-- Contact Us Content Item -->
											<div class="content-item">
												<!-- Icon -->
												<i class="fa fa-map-marker lblue"></i>
												<!-- Heading -->
												<h4>Address</h4>
												<!-- Paragraph -->
												<p class="grey">#98/3 Dark Politic Road, N B C Venue, 6th Main, USD Park, Bangalore - 234543</p>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<!-- Contact Us Content Item -->
											<div class="content-item">
												<!-- Icon -->
												<i class="fa fa-envelope red"></i>
												<!-- Heading -->
												<h4>Email</h4>
												<!-- Paragraph -->
												<p><a href="#">abc@example.com</a><br /><a href="#">xyz@example.com</a></p>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<!-- Contact Us Content Item -->
											<div class="content-item">
												<!-- Icon -->
												<i class="fa fa-phone-square green"></i>
												<!-- Heading -->
												<h4>Voice Call</h4>
												<!-- Paragraph -->
												<p><a href="#">+91 333 - 333 - 4444</a><br /><a href="#">+91 555 - 555 - 4444</a></p>
											</div>
										</div>
									</div>
								</div>
								<!-- Heading -->
								<h3>Other Branches</h3>
								<!-- Contact Us Branches -->
								<div class="branch-content">
									<div class="row">
										<div class="col-md-4 col-sm-4">
											<!-- Heading -->
											<h4><i class="fa fa-map-marker orange"></i>&nbsp; USA</h4>
											<!-- Address -->
											<address>
												<i class="fa fa-home br-yellow"></i> #974 White House Build, N C <br />
												&nbsp; &nbsp; &nbsp; &nbsp; Road, 8th Main, USD Park,  <br />
												&nbsp; &nbsp; &nbsp; &nbsp; New York - 234543 <br />
												<span><i class="fa fa-phone br-orange"></i> +91 123-456-2345</span>
												<span><i class="fa fa-envelope-o br-blue"></i> <a href="#">abc@example.com</a></span>
											</address>
										</div>
										<div class="col-md-4 col-sm-4">
											<!-- Heading -->
											<h4><i class="fa fa-map-marker green"></i>&nbsp; Africa</h4>
											<!-- Address -->
											<address>
												<i class="fa fa-home br-yellow"></i> #974 Blvd Quay 6, Cape Town <br />
												&nbsp; &nbsp; &nbsp; &nbsp; Central 8001, N C Building<br />
												&nbsp; &nbsp; &nbsp; &nbsp; South Africa - 234543 <br />
												<span><i class="fa fa-phone br-orange"></i> +91 123-456-2345</span>
												<span><i class="fa fa-envelope-o br-blue"></i> <a href="#">abc@example.com</a></span>
											</address>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="map">
												<img src="img/map.png" class="img-responsive" alt="" />
												<i class="fa fa-map-marker orange marker usa"></i>
												<i class="fa fa-map-marker green marker africa"></i>
											</div>
										</div>
									</div>
								</div>
								<!-- Heading -->
								<h3>Contact Us Form</h3>
								<!-- Contact Us Form -->
								<div class="contact-form">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<form role="form">
												<div class="form-group">
													<!-- form input -->
													<input type="text" class="form-control" id="name" placeholder="Name">
												</div>
												<div class="form-group">
													<!-- form input -->
													<input type="email" class="form-control" id="email" placeholder="Email">
												</div>
												<div class="form-group">
													<!-- form textarea -->
													<textarea class="form-control" id="comment" rows="3" placeholder="Comments"></textarea>
												</div>
												<div class="form-group">
													<!-- form Submit and reset button -->
													<button type="submit" class="btn btn-info">Submit</button>&nbsp;
													<button type="reset" class="btn btn-default">Reset</button>
												</div>
											</form>
										</div>
										<div class="col-md-6 col-sm-6">
											<!-- Google Map -->
											<iframe scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Bangalore,+Karnataka&amp;aq=0&amp;oq=banga&amp;sll=12.953997,77.63094&amp;sspn=0.782923,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=Bangalore,+Bangalore+Urban,+Karnataka&amp;ll=12.953706,77.630768&amp;spn=0.782868,1.352692&amp;t=m&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>