<div class="inner-page">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="page-mainbar faq">
								<!-- Heading -->
								<h3>Frequently Asked Question ?</h3>
								<!-- FAQ Page Content -->
								<div class="faq-content">
									<!-- Collapse Item -->
									<div class="panel-group" id="accordion">
										<div class="panel panel-default">
											<div class="panel-heading br-lblue">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
														<h5><i class="fa fa-angle-right"></i>&nbsp; Who avus modi tempora incidunt ut labore et dolore measure?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in">
												<!-- faq details -->
												<div class="panel-body br-lblue">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading br-green">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
														<h5><i class="fa fa-angle-right"></i>&nbsp; Eof denouncing pleasure and praising pain was born and I will uatur?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse">
												<!-- faq details -->
												<div class="panel-body br-green">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading br-purple">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
														 <h5><i class="fa fa-angle-right"></i>&nbsp; Which toil and pain can procure him some great pleasureo taker?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse">
												<!-- faq details -->
												<div class="panel-body br-purple">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading br-red">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
														<h5><i class="fa fa-angle-right"></i>&nbsp; Eof denouncing pleasure and praising pain was born and I will uatur?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse">
												<!-- faq details -->
												<div class="panel-body br-red">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading br-blue">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
														<h5><i class="fa fa-angle-right"></i>&nbsp; Eof denouncing pleasure and praising pain was born and I will uatur?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse">
												<!-- faq details -->
												<div class="panel-body br-blue">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading br-orange">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
														 <h5><i class="fa fa-angle-right"></i>&nbsp; Which toil and pain can procure him some great pleasureo taker?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseSix" class="panel-collapse collapse">
												<!-- faq details -->
												<div class="panel-body br-orange">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading br-pink">
												<h4 class="panel-title">
													<!-- Faq title -->
													<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
														<h5><i class="fa fa-angle-right"></i>&nbsp; Who avus modi tempora incidunt ut labore et dolore measure?</h5>
													</a>
												</h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse">
												<!-- faq details -->
												<div class="panel-body br-pink">
													<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>