<!-- Slider Start -->

<div class="container">
	<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->
	<div class="tp-banner-container">
		<div class="tp-banner" >
			<ul>
				<!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
					<!-- MAIN IMAGE -->
					<img src="/img/slider/slide1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYERS NR. 1 // Logo Image -->
					<div class="tp-caption lfl"
						data-x="130"
						data-y="center"
						data-speed="1500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><img src="/img/slider/logo.png" class="img-responsive" alt="" />
					</div>
					<!-- LAYERS NR. 2 -->
					<div class="tp-caption lfr thinheadline_dark"
						data-x="500"
						data-y="120"
						data-speed="1500"
						data-start="2000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Welcome To
					</div>
					<!-- LAYERS NR. 2.1 -->
					<div class="tp-caption lfr very_large_text"
						data-x="500"
						data-y="150"
						data-speed="1500"
						data-start="2300"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Laundary Service
					</div>
					<!-- LAYERS NR. 3 -->
					<div class="tp-caption lfr medium_text paragraph thinheadline_dark"
						data-x="500"
						data-y="220"
						data-speed="1500"
						data-start="3000"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Online Laundry service
					</div>
					<!-- LAYERS NR. 4 // Slide Button -->
					<div class="tp-caption lfr medium_text paragraph thinheadline_dark"
						data-x="500"
						data-y="250"
						data-speed="1500"
						data-start="3400"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Doorstep laundry Service 
					</div>
					<!-- LAYERS NR. 4.1 // Slide Button -->
					<div class="tp-caption sfb"
						data-x="500"
						data-y="325"
						data-speed="1500"
						data-start="4200"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><a href="#services" class="btn btn-info btn-lg btn-circle">View Services <i class="fa fa-angle-right"></i></a>
					</div>
				</li>
				<!-- SLIDE  -->
				 <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000" >
					<!-- MAIN IMAGE -->
					<img src="/img/slider/slide2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS -->
					<!-- LAYERS NR. 1 // -->
					<div class="tp-caption lfl largegreenbg br-red"
						data-x="50"
						data-y="140"
						data-speed="1500"
						data-start="1200"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Our Perspective
					</div>	
					<!-- LAYERS NR. 2 -->
					<div class="tp-caption skewfromleft medium_text paragraph thinheadline_dark"
						data-x="50"
						data-y="240"
						data-speed="800"
						data-start="1800"
						data-easing="Power4.easeOut"
						data-endspeed="400"
						data-endeasing="Power4.easeOut"
						data-captionhidden="off">At Laundry service we intend to <br />provide quality service to <br /> customers and give them some<br /> extra time for their families.
					</div>
					<!-- LAYERS NR. 3 // Slide Button -->
					<div class="tp-caption sfb"
						data-x="50"
						data-y="365"
						data-speed="1500"
						data-start="2600"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><a href="#why_us" class="btn btn-info btn-lg btn-circle">why Us <i class="fa fa-angle-right"></i></a>
					</div>
					<!-- LAYERS NR. 1 // Logo Image 
					<div class="tp-caption skewfromright"
						data-x="600"
						data-y="bottom"
						data-speed="800"
						data-start="3600"
						data-easing="Power4.easeOut"
						data-endspeed="400"
						data-endeasing="Power4.easeOut"
						data-captionhidden="off"><img src="img/slider/s21.png" class="img-responsive" alt="" />
					</div>-->
				</li>
				<!-- SLIDE  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1500" >
					<!-- MAIN IMAGE -->
					<img src="/img/slider/slide3.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
					<!-- LAYERS NR. 1 -->
					<div class="tp-caption lfl"
						data-x="-50"
						data-y="85"
						data-speed="800"
						data-start="2700"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><img src="/img/slider/s31.jpg" class="img-responsive" alt="" />
					</div>
					<!-- LAYERS NR. 2 -->
					<div class="tp-caption lfl"
						data-x="-50"
						data-y="290"
						data-speed="800"
						data-start="3600"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><img src="/img/slider/s32.jpg" class="img-responsive" alt="" />
					</div>
					<!-- LAYERS NR. 3 -->
					<div class="tp-caption lfl"
						data-x="290"
						data-y="85"
						data-speed="800"
						data-start="4500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><img src="/img/slider/s33.jpg" class="img-responsive" alt="" />
					</div>
					<!-- LAYERS NR. 4 -->
					<div class="tp-caption lfl"
						data-x="290"
						data-y="290"
						data-speed="800"
						data-start="5400"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off"><img src="/img/slider/s33.jpg" class="img-responsive" alt="" />
					</div>
					<!-- LAYERS NR. 5 // -->
					<div class="tp-caption lfr largegreenbg br-pink"
						data-x="100"
						data-hoffset="-10"
						data-y="10"
						data-speed="1500"
						data-start="5700"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">We Understand Promise Values
					</div>
					<div class="tp-caption lfr largegreenbg br-orange"
						data-x="right"
						data-hoffset="-10"
						data-y="140"
						data-speed="1500"
						data-start="1500"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Our Services
					</div>		
					<!-- LAYERS NR. 6 // -->
					<div class="tp-caption lfr modern_big_redbg br-green"
						data-x="right"
						data-hoffset="-10"
						data-y="220"
						data-speed="1500"
						data-start="2100"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Wash and Fold
					</div>	
					<!-- LAYERS NR. 7 // -->
					<div class="tp-caption lfr modern_big_redbg br-yellow"
						data-x="right"
						data-hoffset="-10"
						data-y="270"
						data-speed="1500"
						data-start="3300"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Wash and Iron
					</div>
					<!-- LAYERS NR. 8 // -->
					<div class="tp-caption lfr modern_big_redbg br-blue"
						data-x="right"
						data-hoffset="-10"
						data-y="320"
						data-speed="1500"
						data-start="4200"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Drycleaning
					</div>
					<!-- LAYERS NR. 9 // -->
					<div class="tp-caption lfr modern_big_redbg br-purple"
						data-x="right"
						data-hoffset="-10"
						data-y="370"
						data-speed="1500"
						data-start="5100"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Linear.easeNone"
						data-captionhidden="off">Free Doorstep Delivery
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- Slider End -->

<!-- Box Wrapper -->
<div class="box-wrapper">
	<div class="container">
		<!-- Box First Row -->
		<div class="inner-page">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="page-mainbar service" id="services">
							<!-- heading -->
							<h2>Our Services</h2>
							<!-- service page item -->
							<div class="other-service">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- service item -->
										<div class="service-item br-orange animated">
											<!-- icon -->
											<i class="fa fa-pencil s-icon"></i>
											<!-- heading -->
											<h4>Wash And Fold/Iron</h4>
											<!-- button -->
											<a href="#" class="btn btn-default btn-circle">read more <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- service item -->
										<div class="service-item br-green animated">
											<!-- icon -->
											<i class="fa fa-shield s-icon"></i>
											<!-- heading -->
											<h4>Dry Cleaning</h4>
											<!-- button -->
											<a href="#" class="btn btn-default btn-circle">read more <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- service item -->
										<div class="service-item br-lblue animated">
											<!-- icon -->
											<i class="fa fa-clock-o s-icon"></i>
											<!-- heading -->
											<h4>Free Doorstep Delivery</h4>
											<!-- button -->
											<a href="#" class="btn btn-default btn-circle">read more <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- service item -->
										<div class="service-item br-pink animated">
											<!-- icon -->
											<i class="fa fa-signal s-icon"></i>
											<!-- heading -->
											<h4>Express Delivery</h4>
											<!-- button -->
											<a href="#" class="btn btn-default btn-circle">read more <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br/>
						<br/>
						<div class="page-mainbar service" id="why_us">
							<!-- Heading -->
							<h2>Why Choose Us</h2>
							<!-- Service Page Content -->
							<div class="service-content">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<!-- Icon -->
										<a href="#"><i class="fa fa-coffee br-red"></i></a>
										<!-- Heading -->
										<h4>48 Hour Delivery </h4>
										<!-- Paragraph -->
										<p>We know our priorities and assure you 48 hours delivery of yours stuffs.  </p>
										<div class="clearfix"></div>
									</div>
									<div class="col-md-6 col-sm-6">
										<!-- Icon -->
										<a href="#"><i class="fa fa-cloud br-green"></i></a>
										<!-- Heading -->
										<h4>Doorstep Service</h4>
										<!-- Paragraph -->
										<p>You don't need to reach us for your stuff, we would be providing doorstep pickup and delivery. </p>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<!-- Icon -->
										<a href="#"><i class="fa fa-filter br-purple"></i></a>
										<!-- Heading -->
										<h4>Quality Assurance</h4>
										<!-- Paragraph -->
										<p> We assure you quality service. We have a team of professionals working behind and are supervised to asssure you best in class service. </p>
										<div class="clearfix"></div>
									</div>
									<div class="col-md-6 col-sm-6">
										<!-- Icon -->
										<a href="#"><i class="fa fa-flask br-orange"></i></a>
										<!-- Heading -->
										<h4>Fabric Friendly Detergents</h4>
										<!-- Paragraph -->
										<p>We use fabric friendly detergents. Our professional know it well and use best in class detergents by not ruining your stuff. </p>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<!-- Icon -->
										<a href="#"><i class="fa fa-compass br-yellow"></i></a>
										<!-- Heading -->
										<h4>Addon Services</h4>
										<!-- Paragraph -->
										<p>In case you need addons for your stuff, we provide special arrangements. </p>
										<div class="clearfix"></div>
									</div>
									<div class="col-md-6 col-sm-6">
										<!-- Icon -->
										<a href="#"><i class="fa fa-glass br-lblue"></i></a>
										<!-- Heading -->
										<h4>Affordable Pricing</h4>
										<!-- Paragraph -->
										<p>We are intended to provide best in class service in very affordable pricing.  </p>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="page-mainbar pricing">
							<!-- Heading -->
							<h2>Our Best Plans</h2>
							<!-- Pricing Table -->
							<div class="pricing-table">
								<div class="row">
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- Pricing Item -->
										<div class="pricing-item br-red">
											<!-- Price -->
											<span class="p-price">₹50<span>/kg</span></span>
											<!-- Heading -->
											<h4>Basic</h4>
											<!-- Plan List -->
											<ul class="list-unstyled">
												<li>1Kg <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Wash & Fold <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Pickup <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Delivery<i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Addon Service<i class="fa fa-times pull-right"></i>
													<div class="clearfix"></div></li>
											</ul>
											<!-- Button -->
											<a href="#" class="btn btn-default btn-circle">Buy Now <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- Pricing Item -->
										<div class="pricing-item br-green">
											<!-- Price -->
											<span class="p-price">₹70<span>/kg</span></span>
											<!-- Heading -->
											<h4>Standard</h4>
											<!-- Plan List -->
											<ul class="list-unstyled">
												<li>1Kg <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Wash & Iron <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Pickup <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Delivery<i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Addon Service<i class="fa fa-times pull-right"></i>
													<div class="clearfix"></div></li>
											</ul>
											<!-- Button -->
											<a href="#" class="btn btn-default btn-circle">Buy Now <i class="fa fa-angle-right"></i></a>
											<!-- Price Tag -->
											<span class="p-tag br-yellow">New</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- Pricing Item -->
										<div class="pricing-item br-lblue">
											<!-- Price -->
											<span class="p-price">₹200<span>/5kg</span></span>
											<!-- Heading -->
											<h4>Classic</h4>
											<!-- Plan List -->
											<ul class="list-unstyled">
												<li>5Kg <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Wash & Fold <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Pickup <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Delivery<i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Addon Service<i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
											</ul>
											<!-- Button -->
											<a href="#" class="btn btn-default btn-circle">Buy Now <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-6">
										<!-- Pricing Item -->
										<div class="pricing-item br-pink">
											<!-- Price -->
											<span class="p-price">₹150<span>/kg</span></span>
											<!-- Heading -->
											<h4>Premium</h4>
											<!-- Plan List -->
											<ul class="list-unstyled">
												<li>1Kg <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Wash & Fold <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Pickup <i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Free Delivery<i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
												<li>Addon Service<i class="fa fa-check pull-right"></i>
													<div class="clearfix"></div></li>
											</ul>
											<!-- Button -->
											<a href="#" class="btn btn-default btn-circle">Buy Now <i class="fa fa-angle-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<!-- Heading -->
							<h2>Dryclean Plans</h2>
							<!-- Other Plans Item -->
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<div class="p-plan-item br-pink animated">
										<!-- Heading -->
										<h4>Men <span class="plan-price pull-right">$29.0</span></h4>
										<div class="clearfix"></div>
										<!-- Plan List -->
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<ul class="list-unstyled">
													<li><i class="fa fa-check-square-o"></i> 500 bandwidth</li>
													<li><i class="fa fa-check-square-o"></i> 5.5 GB</li>
													<li><i class="fa fa-check-square-o"></i> 10 database</li>
												</ul>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<ul class="list-unstyled">
													<li><i class="fa fa-check-square-o"></i> FTP account</li>
													<li><i class="fa fa-check-square-o"></i> Single user</li>
													<li><i class="fa fa-check-square-o"></i> 24/7 Support</li>
												</ul>
											</div>
										</div>
										<!-- Button -->
										<a href="#" class="btn btn-black btn-circle">Get Now <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="p-plan-item br-orange animated">
										<!-- Heading -->
										<h4>Women <span class="plan-price pull-right">$99.0</span></h4>
										<div class="clearfix"></div>
										<!-- Plan List -->
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<ul class="list-unstyled">
													<li><i class="fa fa-check-square-o"></i> 900 bandwidth</li>
													<li><i class="fa fa-check-square-o"></i> 10 GB</li>
													<li><i class="fa fa-check-square-o"></i> 15 database</li>
												</ul>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<ul class="list-unstyled">
													<li><i class="fa fa-check-square-o"></i> FTP account</li>
													<li><i class="fa fa-check-square-o"></i> Multi user</li>
													<li><i class="fa fa-check-square-o"></i> 24/7 Support</li>
												</ul>
											</div>
										</div>
										<!-- Button -->
										<a href="#" class="btn btn-black btn-circle">Get Now <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="p-plan-item br-pink animated">
										<!-- Heading -->
										<h4>Kids <span class="plan-price pull-right">$29.0</span></h4>
										<div class="clearfix"></div>
										<!-- Plan List -->
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<ul class="list-unstyled">
													<li><i class="fa fa-check-square-o"></i> 500 bandwidth</li>
													<li><i class="fa fa-check-square-o"></i> 5.5 GB</li>
													<li><i class="fa fa-check-square-o"></i> 10 database</li>
												</ul>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<ul class="list-unstyled">
													<li><i class="fa fa-check-square-o"></i> FTP account</li>
													<li><i class="fa fa-check-square-o"></i> Single user</li>
													<li><i class="fa fa-check-square-o"></i> 24/7 Support</li>
												</ul>
											</div>
										</div>
										<!-- Button -->
										<a href="#" class="btn btn-black btn-circle">Get Now <i class="fa fa-angle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br/>
					<div class="col-md-12">
						<div class="page-mainbar testimonial">
							<!-- Heading -->
							<h2>Clients Testimonial</h2>
							<!-- Testimonial Content -->
							<div class="testimonial-content">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<!-- Client post -->
										<div class="testimonial-item br-red animated">
											<!-- Image -->
											<!-- Heading -->
											<h4><img src="/img/user.jpg" class="img-responsive" alt="" />Merry Watson</h4>
											<blockquote>
												<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
											</blockquote>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<!-- Client post -->
										<div class="testimonial-item br-lblue animated">
											<!-- Image -->
											<!-- Heading -->
											<h4><img src="/img/user2.jpg" class="img-responsive" alt="" />Jonny Parker</h4>
											<blockquote>
												<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
											</blockquote>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<!-- Client post -->
										<div class="testimonial-item br-purple animated">
											<!-- Image -->
											<!-- Heading -->
											<h4><img src="/img/user2.jpg" class="img-responsive" alt="" />Juliet Doe</h4>
											<blockquote>
												<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
											</blockquote>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<!-- Client post -->
										<div class="testimonial-item br-green animated">
											<!-- Image -->
											<!-- Heading -->
											<h4><img src="/img/user.jpg" class="img-responsive" alt="" />Michele Ford</h4>
											<blockquote>
												<p>Vero eos et accusamus et iusto odio dignissimos duci is mus qui similique sunt in culpa blanditiis praesentium voluptatum deleniti.</p>
											</blockquote>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</div>
</div>

	
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>